@use 'libs/theme/src/lib/styles/mixins';
@use 'libs/theme/src/lib/styles/typography';

.root {
  display: flex;
  align-items: center;
  z-index: 1;
  box-shadow: 0 0 4px var(--color-gray-200);
  height: 3.5rem;

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    @include typography.textLGSemibold;

    &_withoutEndAdornment {
      padding-right: 3.25rem;
    }
  }
}

.button {
  @include mixins.resetButton;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 100%;
  padding: 1rem;
  color: var(--color-gray-900);

  &_startAdornment {
    padding-left: 0.75rem;
  }

  &_endAdornment {
    padding-right: 0.75rem;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  &_delete {
    color: var(--color-error-500);
  }
}
